body{
	height:100%;
		padding-top:80px;
}

.navbar{
	padding-top:20px;
	padding-bottom:20px;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}


.bg{

	background-size:cover;
	width:100%;
	height:100%;
position:absolute;
}

.card img{
	width:100%;
}

.cardAll{
	margin-top:420px;
}

.cbp-af-header-shrink{
	padding-top:5px;
	padding-bottom:5px;
	opacity:0.9;
}

h2{
	margin:0 auto;
}
span{
	margin:0 auto;
}

.people img{
	width:80%;
}

.people .btn{
	border-radius:40px;
}
.btn{
	margin:0 auto;
}

figure{
	display:inline-block;
	width:30%;

}

figure img{
	vertical-align: top;
}

figure figcaption {
    text-align: center;
}

.col-sm-6 h1{
	margin-top:140px;
}

footer{
	background-color:black;
}

footer .btn{
	background:none;
	color:white;
}

footer .navbar-nav {
	flex-direction:row;
}

footer .navbar-expand-lg{
	float:right;
}

@media only screen and (max-width:576px){
	footer{
		margin:auto;
	}
	
	footer .col-sm-2{
		text-align:center;
	}
	
	footer .btn-group{
		margin:auto;
	}
	
	footer .navbar-nav{
		margin:auto;
	}
	footer .navbar-expand-lg{
	float:none;
}
}
@media only screen and (min-width: 992px) {
	header .container-fluid{
		display:block!important;
	}
	
	header .navbar-brandHeader{
		text-align:center;
	}
	header .navbar-nav{
		margin:auto;
	}
	body{
		padding-top:165px;
	}
	.navbar-brand{
	font-size:50px;
}
}


footer .col-sm-2{
	padding-top:6px;
}

@media only screen and (max-width:1295px)
{
	.card-deck{
	flex-flow:column;
		}
	
	.cardAll{
		margin-top:796px;
	}

}

